<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcxt.backstage.mapper.FoodmenuMapper">
    <select id="getfoodAll" resultType="FoodmenuBean">
      select * from  t_foodmenu,t_foodclassname where t_foodclassname.id =t_foodmenu.classinfo
    </select>
    <select id="getbyid" parameterType="int" resultType="FoodmenuBean">
        select  *  from t_foodmenu where id = #{id}
    </select>
    <select id="getbyclassinfo" parameterType="int" resultType="FoodmenuBean">
        select * from  t_foodmenu,t_foodclassname where t_foodclassname.id =t_foodmenu.classinfo and classinfo = #{classinfo}
    </select>

    <update id="updatefoodmenu" parameterType="FoodmenuBean">
        update t_foodmenu
        <set>
            <if test="describe != null">describe=#{describe},</if>
            <if test="price != null">price=#{price},</if>
            <if test="foodname != null">foodname=#{foodname},</if>
            <if test="foodimg != null">foodimg=#{foodimg},</if>
            <if test="classinfo != null">classinfo=#{classinfo}</if>
        </set>
        WHERE id = #{id}
    </update>
    <insert id="addfood" parameterType="FoodmenuBean">
         insert into t_foodmenu(describes,foodname,price,foodimg,classinfo) VALUES
         (#{describes},#{foodname},#{price},#{foodimg},#{classinfo})
    </insert>
    <delete id="delectfoodmenu" parameterType="int">
        DELETE  FROM t_foodmenu  where id=#{id}
    </delete>
</mapper>
