<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>增加分类</title>
    <link rel="stylesheet"  th:href="@{/layui/css/layui.css}"   media="all">
    <script src="//res.layui.com/layui/dist/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <style>
        .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;}
    </style>
</head>
<body>
<form class="layui-form layui-form-pane" th:action="@{/committable}" style="margin-top: 20px">
        <input type="hidden" name="id" th:value="${table.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">桌号</label>
        <div class="layui-input-inline">
            <input name="tablenum" lay-verify="required" th:value="${table.tablenum}"  autocomplete="off"  class="layui-input" type="text">
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">桌名</label>
        <div class="layui-input-inline">
            <input name="tablename" lay-verify="required" th:value="${table.tablename}"  autocomplete="off" class="layui-input" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">容纳人员</label>
        <div class="layui-input-inline">
            <input name="galleryful" lay-verify="required" th:value="${table.galleryful}"  autocomplete="off" placeholder="请输入容纳" class="layui-input" type="text">
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
</body>
<
</html>